<a href="https://colab.research.google.com/github/sunilchau/apidev/blob/main/Ipl_Api.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [8]:
matches = pd.read_csv('IPL_Matches_2008_2022 - IPL_Matches_2008_2022.csv')

In [11]:
matches.head(2)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon

In [30]:
teams = list(matches['Team1'].unique())

In [29]:
teams

['Rajasthan Royals',
 'Royal Challengers Bangalore',
 'Sunrisers Hyderabad',
 'Delhi Capitals',
 'Chennai Super Kings',
 'Gujarat Titans',
 'Lucknow Super Giants',
 'Kolkata Knight Riders',
 'Punjab Kings',
 'Mumbai Indians',
 'Kings XI Punjab',
 'Delhi Daredevils',
 'Rising Pune Supergiant',
 'Gujarat Lions',
 'Rising Pune Supergiants',
 'Pune Warriors',
 'Deccan Chargers',
 'Kochi Tuskers Kerala']

In [32]:
matches.head(2)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon

In [42]:
team1 = "Rajasthan Royals"
team2 = "Royal Challengers Bangalore"
team_df =matches[(matches['Team1'] == team1) & (matches['Team2'] == team2) |(matches['Team2'] == team1) & (matches['Team1'] == team2)]

In [45]:
total_matches = team_df.shape[0]

In [63]:
matches_won_team1 = team_df['WinningTeam'].value_counts()[team1]
matches_won_team2 = team_df['WinningTeam'].value_counts()[team2]

In [65]:
draws = total_matches - (matches_won_team1 + matches_won_team2)

In [66]:
draws

2

In [68]:
def team_vs_team(team1,team2):
  team_df =matches[(matches['Team1'] == team1) & (matches['Team2'] == team2) |(matches['Team2'] == team1) & (matches['Team1'] == team2)]
  total_matches = team_df.shape[0]
  matches_won_team1 = team_df['WinningTeam'].value_counts()[team1]
  matches_won_team2 = team_df['WinningTeam'].value_counts()[team2]
  draws = total_matches - (matches_won_team1 + matches_won_team2)

  response = { 
      'total_matches':total_matches,
      'team1':matches_won_team1,
      'team2':matches_won_team2,
       'draws': draws
  }

  return response

In [69]:
team_vs_team('Rajasthan Royals','Royal Challengers Bangalore')

{'total_matches': 27, 'team1': 12, 'team2': 13, 'draws': 2}